* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8); /* Black background with opacity */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.popup-content {
    background: linear-gradient(to top, #007bff, #0E1B4D);
    box-shadow:inset #000 0 0 20px, #007bff 0 0 2px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 40px;
    cursor: pointer;
    color: red;
    font-weight: 600;
    text-shadow: #848484 0 0 5px;
}

.popup h2 {
    font-size: 35px;
    color: #fff;
}

.popup p {
    font-size: 16px;
    color: #fff;
}

.popup img {
    max-width: 15%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    margin-bottom: 20px;
    margin-top: 20px;
}

.popup button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: inset #fff 0 0 20px, #000 0 0 2px;
    margin-top: 20px;
    width: 150px;
    animation: fadeIn 1s linear infinite;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.beta-badge img {
    border-radius: 50px;
    box-shadow: 0 0 20px #007bff;
    width: 100px;
}

.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background: linear-gradient(to top, #007bff, #0E1B4D);
    box-shadow:inset #000 0 0 20px, #007bff 0 0 2px;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1; /* Set a higher z-index for the container content */
}


select {
    width: 25%;
    padding: 2px;
    margin: 10px 0;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #040404;
    color: #007bff;
    border: red 1px solid;
    font-weight: 600;
}

option {
    background-color: #007bff;
    color: #0c0b0b;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 35px;
    margin: 0 auto;
    font-weight: 700;
}

h1 span {
    color: #ff0000;
    font-size: 20px;
    font-weight: 800;
    margin-right: -5px;
    margin-left: -15px;
    margin: 0 auto;
    text-align: center;
}

input {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #007bff;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #000;
    color: #fff;
}

button {
    background-color: #007bff;
    color: #090808;
    border: none;
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    width: 60%;
    font-size: 16px;
    font-weight: bold;
    box-shadow: inset #000 0 0 5px;
    margin-top: 40px;
}

button:hover {
    background-color: #0056b3;
    box-shadow: #000 0 0 5px;
}

.btn-secondary {
    background-color: #28a745;
}

.btn-secondary:hover {
    background-color: #218838;
}

.info {
    margin-top: 20px;
    color: #dfdfdf;
    font-size: 14px;
    box-shadow:inset #007bff 0 0 20px, inset #000 0 0 40px;
    border-radius: 10px;
    padding: 10px;
    background-color: #050505;
}

.beta-badge {
    font-size: 0.5rem;
    font-weight: bold;
    position: relative;
    border-radius: 50px;
}

.beta-banner {
    position: absolute;
    top: 200px; /* Adjusted position to move the banner outside the main content */
    right: -150px; /* Adjusted position to move the banner outside the main content */
    background-color: #ff0000;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 30px;
    transform: rotate(45deg);
    transform-origin: top right;
    width: 500px; /* Adjusted width */
}

a {
    color: #ffffff;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    box-shadow:inset #ff0000 0 0 20px, #007bff 0 0 2px, inset #000 0 0 40px;
    margin-bottom: -8px;
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;
}

#user-role {
    text-align: left;
    margin-top: -20px;
    font-size: 12px;
    margin-left: -5%;
}

.resetBtn {
    margin-top: 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    box-shadow: inset #000 0 0 5px;
    margin-top: 40px;
}

.resetBtn:hover {
    background-color: #a80303;
}
